@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
	font-familiy: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color:#f4f4f5;
}
.playground-card {
    background-color: white;
	font-family : Inter;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playground-icon {
    width: 60px;
    height: 60px;
    background-color: #71717a;
    margin-right: 20px;
    border-radius: 10px;
}

.playground-info {
    flex: 1;
}

.playground-title {
    font-weight: 600;
    font-size: 1.5rem;
    
    margin: 0;
}

.playground-description {
    color: #71717a;
    margin: 0;
}

.playground-collaborators {
    color: #71717a;
    margin: 0;
}