
#container {
    column-count:2;
}

.box{
    column-count : 2;
    width:100%;
    height:100%;
    margin:10px;
    background-color:blue;
    border :1px solid black;
    column-span : initial;
}

#span-box {
    column-span : all;
}
